body {
     		background-image: url("https://cdn.pixabay.com/photo/2021/01/01/16/07/clouds-5879037_1280.jpg");
   		width: 100%;
  		height: auto;
  		max-width: 1500px;
}

h1 {
    		font-family:'DancingScriptRegular';
     		font-weight: normal;
     		font-style: normal;
    		text-align: center;   
}

#content {
                overflow: auto;
                font-family: Arial, Verdana, sans-serif;
		text-align: center;  
    }
#nav {
		background-color: #FFE4E1;
                margin: 1%;
                padding: 0.5em 0;
                font-family: Arial, Verdana, sans-serif;
		text-align: center;  
    }
#feature {
		background-color: #fffff9;
                margin: 1%;
                height: 30em;
		overflow: auto;
                margin-bottom: 1em;
                background-image: url("https://media.istockphoto.com/id/466155505/vector/hot-air-balloon-and-clouds.jpg?s=612x612&w=0&k=20&c=leRNSMHRnuKIlBf-1CITwzXey5PklPFuwDeHr-336JE=");
                background-size: 50%;
		background-size:contain;
                background-position: right;
                background-repeat:no-repeat;
                font-family: Arial, Verdana, sans-serif;
		text-align: center;  
                padding: 5em;
    }
.column1 {
                background-color: #BC8F8F;  
    }
.column2 {
                background-color: #FFEFD5; 
    }
.column3 {
                background-color: #90EE90;  
    }
.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;
                		font-family: Arial, Verdana, sans-serif;
				text-align: center; 
    }
li {
		display: inline;
		padding: 0.5em;
    }
#footer {
		background-color: #6495ED;
		padding: 0.5em 0;
                margin: 1%;
                text-align: center; 
    }
.article {
		height: 10em;
		margin-bottom: 1em;
	}
